<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Tri Sinergi Mitra</title>
	<meta name="author" content="NRZ & CG" />
	<meta name="description" content="TSM" />
	<meta name="keywords"  content="TSM,hamzah,badeges,tax,consulting,accountant,solution,Tri,Sinergi,Mitra,accounting"/>
	<meta name="Resource-type" content="Document"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

	<!-- CSS -->
	<link href="{{ url_for('static', filename='css/jquery.fullPage.css') }}" rel="stylesheet">
	<!--
	<link rel="stylesheet" type="text/css" href="assets/cs/jquery.style.css"/>
	-->
</head>
<body>
	Page not found
</body>
<!-- JS -->	
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fullPage.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fullPage.min.js') }}"></script>
<!--
<script type="text/javascript" src="assets/js/wow.min.js"></script>
<script type="text/javascript" src="assets/js/script.js"></script>
-->
</html>