<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>RedPanda</title>
	<meta name="author" content="" />
	<meta name="description" content="" />
	<meta name="keywords"  content=""/>
	<meta name="Resource-type" content="Document"/>

	<link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- CSS -->
	<link href="{{ url_for('static', filename='css/jquery.fullPage.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/loading.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">
	
</head>
<body>
	<div class="container">
		<div class="row" style="margin:auto; width:300px;">
			<img src="{{ url_for('static', filename='img/logo.png') }}"></img>
		</div>	
	</div>
</body>
<!-- JS -->	
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fullPage.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fullPage.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<!-- JS -->	
<script type="text/javascript">
	
</script>
<script>
	new WOW().init();
</script>
</html>
