<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>RedPanda</title>
	<meta name="author" content="" />
	<meta name="description" content="" />
	<meta name="keywords"  content=""/>
	<meta name="Resource-type" content="Document"/>

	<link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
			<a class="navbar-brand" href="/" style="padding:0px; margin-left:10px; margin-right:10px;"><img src="{{ url_for('static', filename='img/logo.png') }}" style="width:auto; height:auto; max-height:50px; max-widht:50px; padding:0px;"></img></a>
			</div>
			<ul class="nav navbar-nav">
			<li><a href="/gallery">Gallery</a></li>
			<li><a href="/reproduction">Mating and Reproduction</a></li>
			<li><a href="/habitat">Habitat</a></li>
			</ul>
		</div>
		</nav>

	<div class="container">
		<div class="row vid" style="margin:auto; width:300px;">
			<iframe width="560" height="315" src="//www.youtube.com/embed/b6dT4kyVUuY" allowfullscreen="" style="margin-top:75px;"></iframe>
		</div>	
	</div>
</body>
</html>
